{% extends 'base.html' %}
{% load static %}

{% block profile-manager %}
<section>
    <div class="user">
        <img src="{% static 'img/user.png' %}" alt="">
        <h2 class="username">{{user}}</h2>

        <a class="upload-btn" href="{% url 'upload-photo' %}">Tải ảnh lên</a>
    </div>

    <div class="album container d-flex">
        <a id="activate" class="my-albums font-weight-bold" href="{% url 'profile' %}">Ảnh đã tải lên</a>
        <a class="my-albums font-weight-bold" href="{% url 'my-albums' %}">Album của tôi</a>
    </div>
</section>
{% endblock profile-manager %}

{% block my-photos %}
<section class="container mt-3">
    <div class="row">
        <div class="col-lg-12 p-0">
            <div class="gallery-filter">
                {% for photo in photos %}
                <img src="{{photo.photo_link}}" alt="" class="gf-item small-height">

                <div class="photo-popup">
                    <span><i class="fa fa-times text-light"></i></span>
                    <img src="{{photo.photo_link}}" alt="" class="image-popup">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock my-photos %}

{% block page_script %}

<script>

    document.querySelectorAll(".gf-item").forEach(item => {
        item.addEventListener("click", function() {
            document.querySelector(".photo-popup").style.display = "block";
            document.querySelector(".image-popup").src = item.src;
        });
    });

    document.querySelector(".fa-times").addEventListener("click", function() {
        document.querySelector(".photo-popup").style.display = "none";
    });

</script>

{% endblock %}